* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: monospace,Lucida;
  padding: 10px;
  background: #f8dce7;
  background-image: url('bg.jpg')
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;

}
.images {
  float: left;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
}

.gal {
  float: left;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;

}
h2 {text-align: center;
    color: rgb(230, 133, 193);
}
h3 {text-align: center;
    color: rgb(230, 133, 193);
}
p {
    text-align: center;
    color: rgb(241, 149, 207);
}

.header {
  padding: 30px;
  text-align: center;
  background: white;
}

.header {
  font-size: 50px;
  background: white;
  background-image: url(banner3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  border: 2px solid #f5c8da;
  border-radius: 25px;
}



.topnav {
  overflow: hidden;
  background-color: white;
  border: 2px solid #f5c8da;
  border-radius: 25px;
  text-align: center;
}


.topnav a {

  display: block;
  color: rgb(230, 133, 193);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

}


.topnav a:hover {
  background-color: #e7aac3;
  color: rgb(202, 101, 163);
}


.leftcolumn {   
  float: left;
  width: 60%;
}

.leftcolumn1 {   
  float: left;
  width: 20%;
  padding-right: 20px;
}


.rightcolumn {
  float: left;
  width: 20%;
  padding-left: 20px;
}

.home2 {
  background-color: white;
  width: 100%;
  padding: 20px;
  border: 2px solid white;
  border-radius: 25px;
}

.Homepage {
  background-color: white;
  width: 100%;
  padding: 20px;
  border: 2px solid white;
  border-radius: 25px;
}
.AboutMe {
  background-color: white;
  width: 100%;
  padding: 20px;
  border: 2px solid white;
  border-radius: 25px;
}
.Gallery {
  background-color: white;
  width: 100%;
  padding: 20px;
  border: 2px solid white;
  border-radius: 25px;
}
.Hobbies {
  background-color: white;
  width: 100%;
  padding: 20px;
  border: 2px solid white;
  border-radius: 25px;
}


.card1 {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  background-image: url(p1.jpg);
  background-position: right bottom, left top;
  background-repeat: repeat;
  border: 2px solid #f5c8da;
  border-radius: 25px;
}

.card2 {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  background-image: url(p1.jpg);
  background-position: right bottom, left top;
  background-repeat: repeat;
}
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}


.row::after {
  content: "";
  display: table;
  clear: both;
}


.footer {
  padding: 20px;
  text-align: center;
  background-color: #f5c8da;
  margin-top: 20px;
  border: 2px solid #f5c8da;
  border-radius: 25px;
}


@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}


@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}
